.ajax-wrapper {
  width: 460px;
  margin: 50px auto;
}

.ajax-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 20px;
  padding: 10px;

  font-size: 16px;
  line-height: 24px;

  border: 2px solid black;
}

.ajax-btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 12px;

  font-size: 16px;
  line-height: 24px;

  background-color: lightblue;
  border: 2px solid lightskyblue;
}

.ajax-btn:hover {
  background-color: lightskyblue;
  cursor: pointer;
}
